@{
    ViewBag.Title = "MVC Test";
}


<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>HalcyonPattern</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">


    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
        @*point to cdn*@
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    </environment>

</head>
<body>
    @RenderBody()

<environment names="Development">

</environment>


<environment names="Staging,Production">
    @*<script src=""cdn
            asp-fallback-src=""local
            asp-fallback-test="window.jQuery" is loaded?
        ></script>*@
    @*<script src="" asp-append-version="true"></script>*@
    @*add minified files*@
</environment>


@RenderSection("scripts", false)
</body>
</html>