 <!-- Hero Content -->
<div class="bg-primary-dark-op">
    <section class="content content-full content-boxed overflow-hidden">
        <!-- Section Content -->
        <div class="push-100-t push-50 text-center">
            <img style="height: 100%; width: 100%; object-fit: contain" src= @Url.Content("~/img/white_logo_transparent_background.png") />
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Hero Content -->
<!-- Content -->
<div class="bg-white">
    <section class="content content-boxed">
        <!-- Section Content -->
        <h2 class="push-50-t push-50 text-center">Content #1.</h2>
       
        <!-- END Section Content -->
    </section>
</div>
<!-- END Content -->
<!-- Content 2 -->
<div class="bg-gray-lighter">
    <section class="content content-boxed">
        <!-- Section Content -->
        <h2 class="push-50-t push-50 text-center">Content #2.</h2>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Content 2 -->
<!-- Content 3 -->
<div class="bg-white">
    <section class="content content-boxed">
        <!-- Section Content -->
        <h2 class="push-50-t push-50 text-center">Content #3.</h2>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Content 3 -->
<!-- Content 4 -->
<div class="bg-gray-lighter">
    <section class="content content-boxed">
        <!-- Section Content -->
        <h2 class="push-50-t push-50 text-center">Content #4.</h2>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Content 4 -->